.footer-container {
    background-color: #282c34;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}